 .pad-left{
    padding-left:1em;

  }
  .pad-right{
    padding-right:1em;
  }
  .jumbotron {
    position: relative;
    background: #000 url("../imgs/cigar-box-pinhole-camera.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
  }
  .container h1{
    color: #fff;
    text-shadow: 2px 2px #000;
  }
  p{
    text-shadow: 1px 1px #000;
    color:white;
  }
  .p-dark{
    text-shadow: 1px 1px #fff;
    color:#000;
  }
  body{
    background-color:#efefef;
  }
  .img-center {margin:0 auto;}
  .navbar{
    margin:0;

  }
  * {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
  }